
<div
  cdkDropList
  class="example-list"
  [cdkDropListData]="cityCardList"
  (cdkDropListDropped)="drop($event)"
>
<mat-toolbar color="primary" style="max-height: 2em">{{title}}
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="addItem()">
    <mat-icon class="log-control">add</mat-icon>
  </button>
</mat-toolbar>
  <app-tracker-list-item
    cdkDrag
    [cityCard]="cityCard"
    *ngFor="let cityCard of cityCardList"
    class="example-box"
    [style.backgroundImage]="
      'url(../../../../../assets/img/' + cityCard.color + ')'
    "
    style="background-size: contain; background-repeat: no-repeat;"
  >
  </app-tracker-list-item>
</div>
